backup-all-flows.json
[{"id":"cb048b24.e384f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98785edb.a964a","type":"tab","label":"Flow Dami","disabled":false,"info":""},{"id":"54f0c4c4.ced794","type":"tab","label":"Flow Ivo","disabled":false,"info":""},{"id":"320adcb9.70a12c","type":"tab","label":"Save Dataset","disabled":false,"info":""},{"id":"e7c4735a.8ff39","type":"http in","z":"cb048b24.e384f8","name":"test","url":"/test","method":"post","upload":false,"swaggerDoc":"","x":350,"y":260,"wires":[["602090ad.d7da9","5da9c92c.d37588"]]},{"id":"602090ad.d7da9","type":"debug","z":"cb048b24.e384f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":140,"wires":[]},{"id":"626f268d.1a6d98","type":"http response","z":"cb048b24.e384f8","name":"Repsonse","statusCode":"","headers":{},"x":920,"y":260,"wires":[]},{"id":"4e6b889a.dec888","type":"http response","z":"98785edb.a964a","name":"Response","statusCode":"","headers":{},"x":740,"y":260,"wires":[]},{"id":"a39af1e1.00d95","type":"http in","z":"98785edb.a964a","name":"test","url":"/testDami","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["24979f9a.6ca0a"]]},{"id":"24979f9a.6ca0a","type":"function","z":"98785edb.a964a","name":"Load Database","func":"msg.payload.ingredientsDB = [\n    {\n      Product: 'Almond milk',\n      CO2: 1.09,\n      Energy: 1.09,\n      Water: 1.09\n    },\n    {\n      Product: 'Almonds',\n      CO2: 2.18,\n      Energy: 26.31,\n      Water: 1.9\n    },\n    {\n      Product: 'Beef',\n      CO2: 27.76,\n      Energy: 164.22,\n      Water: 0.47\n    },\n    {\n      Product: 'Cheese slices',\n      CO2: 8.29,\n      Energy: 35.5,\n      Water: 0.15\n    },\n    {\n      Product: 'Cheese spread',\n      CO2: 6.2,\n      Energy: 26.71,\n      Water: 0.11\n    },\n    {\n      Product: 'Chicken',\n      CO2: 6.82,\n      Energy: 64.14,\n      Water: 0.34\n    },\n    {\n      Product: 'Chocolate',\n      CO2: 14.67,\n      Energy: 90.25,\n      Water: 0.38\n    },\n    {\n      Product: 'Chocolate milk',\n      CO2: 4.65,\n      Energy: 26.92,\n      Water: 0.11\n    },\n    {\n      Product: 'Corn',\n      CO2: 0.19,\n      Energy: 1.88,\n      Water: 0.06\n    },\n    {\n      Product: 'Dried Beef',\n      CO2: 27.76,\n      Energy: 164.22,\n      Water: 0.47\n    },\n    {\n      Product: 'Dry Pasta',\n      CO2: 1.49,\n      Energy: 17.23,\n      Water: 0.01\n    },\n    {\n      Product: 'Fresh ravioli with meat',\n      CO2: 10.25,\n      Energy: 66.22,\n      Water: 0.16\n    },\n    {\n      Product: 'Fresh ravioli with spinach and ricotta',\n      CO2: 3.06,\n      Energy: 20.38,\n      Water: 0.04\n    },\n    {\n      Product: 'Gruy\\ufffdre',\n      CO2: 8.29,\n      Energy: 35.5,\n      Water: 0.15\n    },\n    {\n      Product: 'Ham',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Lentils',\n      CO2: 0.78,\n      Energy: 5.67,\n      Water: 0.14\n    },\n    {\n      Product: 'Low fat organic milk',\n      CO2: 1.11,\n      Energy: 1.39,\n      Water: 0\n    },\n    {\n      Product: 'Non-free range eggs',\n      CO2: 3.94,\n      Energy: 36.1,\n      Water: 0.18\n    },\n    {\n      Product: 'Pancetta',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Pork',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Pork sausages',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Quorn',\n      CO2: 0.19,\n      Energy: 1.88,\n      Water: 0.06\n    },\n    {\n      Product: 'Red kidney beans',\n      CO2: 0.78,\n      Energy: 5.67,\n      Water: 0.14\n    },\n    {\n      Product: 'Rice milk',\n      CO2: 0.26,\n      Energy: 0.26,\n      Water: 0.26\n    },\n    {\n      Product: 'Risotto rice',\n      CO2: 1.03,\n      Energy: 5.43,\n      Water: 0.35\n    },\n    {\n      Product: 'Sliced beef',\n      CO2: 27.76,\n      Energy: 164.22,\n      Water: 0.47\n    },\n    {\n      Product: 'Sliced chicken',\n      CO2: 6.8,\n      Energy: 64,\n      Water: 0.34\n    },\n    {\n      Product: 'Smoked cheese',\n      CO2: 6.2,\n      Energy: 26.71,\n      Water: 0.11\n    },\n    {\n      Product: 'Spaghetti Carbonara pre-made meal',\n      CO2: 3.44,\n      Energy: 28.52,\n      Water: 0.11\n    },\n    {\n      Product: 'Tofu',\n      CO2: 3.23,\n      Energy: 14.37,\n      Water: 0\n    },\n    {\n      Product: 'UHT milk',\n      CO2: 1.31,\n      Energy: 5.82,\n      Water: 0.02\n    },\n    {\n      Product: 'Vegetarian salami',\n      CO2: 0.19,\n      Energy: 1.88,\n      Water: 0.06\n    },\n    {\n      Product: 'Wholegrain dry pasta',\n      CO2: 1.49,\n      Energy: 17.23,\n      Water: 0.01\n    },\n    {\n      Product: 'Lamb',\n      CO2: 25.44,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Butter',\n      CO2: 11.52,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Turkey',\n      CO2: 5.9,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Rabbit',\n      CO2: 3.61,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Cod',\n      CO2: 3.49,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Eggs',\n      CO2: 3.4,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Insect',\n      CO2: 2.3,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Whole Milk',\n      CO2: 1.4,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Wheat',\n      CO2: 0.51,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Peas',\n      CO2: 0.6,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Barley',\n      CO2: 0.52,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Chickpeas',\n      CO2: 0.67,\n      Energy: '',\n      Water: ''\n    }\n  ]\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["4e6b889a.dec888","52ebbc8.758dd44"]]},{"id":"52ebbc8.758dd44","type":"debug","z":"98785edb.a964a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":60,"wires":[]},{"id":"5cd64682.8ff8","type":"http response","z":"54f0c4c4.ced794","name":"Response","statusCode":"","headers":{},"x":767,"y":374,"wires":[]},{"id":"4d3e2933.bdd098","type":"http in","z":"54f0c4c4.ced794","name":"test","url":"/testIvo","method":"post","upload":false,"swaggerDoc":"","x":187,"y":374,"wires":[["cef6d404.01a498"]]},{"id":"73524d50.665c9c","type":"debug","z":"54f0c4c4.ced794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":677,"y":174,"wires":[]},{"id":"cef6d404.01a498","type":"function","z":"54f0c4c4.ced794","name":"Cost Calc","func":"msg.payload.totCO2 = 2\nreturn msg;","outputs":1,"noerr":0,"x":467,"y":374,"wires":[["5cd64682.8ff8","73524d50.665c9c"]]},{"id":"307a8496.fef52c","type":"inject","z":"320adcb9.70a12c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":172.5,"y":195,"wires":[["e19c8db1.238cd8"]]},{"id":"e19c8db1.238cd8","type":"function","z":"320adcb9.70a12c","name":"Save CO2 Data","func":"global.set(\"C02-Data\", msg.payload);","outputs":1,"noerr":0,"x":405.5,"y":187,"wires":[[]]},{"id":"320bbb54.45c55c","type":"function","z":"54f0c4c4.ced794","name":"Obtain CO2 Data","func":"var CO2Data = global.get(\"C02-Data\");","outputs":1,"noerr":0,"x":384.5,"y":59,"wires":[["776dc679.b5b1f8"]]},{"id":"fb6964b6.14ca18","type":"inject","z":"54f0c4c4.ced794","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":147.5,"y":73,"wires":[["320bbb54.45c55c"]]},{"id":"776dc679.b5b1f8","type":"debug","z":"54f0c4c4.ced794","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":608.5,"y":68,"wires":[]},{"id":"5da9c92c.d37588","type":"function","z":"cb048b24.e384f8","name":"Load Database","func":"msg.payload.ingredientsDB = [\n    {\n      Product: 'Almond milk',\n      CO2: 1.09,\n      Energy: 1.09,\n      Water: 1.09\n    },\n    {\n      Product: 'Almonds',\n      CO2: 2.18,\n      Energy: 26.31,\n      Water: 1.9\n    },\n    {\n      Product: 'Beef',\n      CO2: 27.76,\n      Energy: 164.22,\n      Water: 0.47\n    },\n    {\n      Product: 'Cheese slices',\n      CO2: 8.29,\n      Energy: 35.5,\n      Water: 0.15\n    },\n    {\n      Product: 'Cheese spread',\n      CO2: 6.2,\n      Energy: 26.71,\n      Water: 0.11\n    },\n    {\n      Product: 'Chicken',\n      CO2: 6.82,\n      Energy: 64.14,\n      Water: 0.34\n    },\n    {\n      Product: 'Chocolate',\n      CO2: 14.67,\n      Energy: 90.25,\n      Water: 0.38\n    },\n    {\n      Product: 'Chocolate milk',\n      CO2: 4.65,\n      Energy: 26.92,\n      Water: 0.11\n    },\n    {\n      Product: 'Corn',\n      CO2: 0.19,\n      Energy: 1.88,\n      Water: 0.06\n    },\n    {\n      Product: 'Dried Beef',\n      CO2: 27.76,\n      Energy: 164.22,\n      Water: 0.47\n    },\n    {\n      Product: 'Dry Pasta',\n      CO2: 1.49,\n      Energy: 17.23,\n      Water: 0.01\n    },\n    {\n      Product: 'Fresh ravioli with meat',\n      CO2: 10.25,\n      Energy: 66.22,\n      Water: 0.16\n    },\n    {\n      Product: 'Fresh ravioli with spinach and ricotta',\n      CO2: 3.06,\n      Energy: 20.38,\n      Water: 0.04\n    },\n    {\n      Product: 'Gruy\\ufffdre',\n      CO2: 8.29,\n      Energy: 35.5,\n      Water: 0.15\n    },\n    {\n      Product: 'Ham',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Lentils',\n      CO2: 0.78,\n      Energy: 5.67,\n      Water: 0.14\n    },\n    {\n      Product: 'Low fat organic milk',\n      CO2: 1.11,\n      Energy: 1.39,\n      Water: 0\n    },\n    {\n      Product: 'Non-free range eggs',\n      CO2: 3.94,\n      Energy: 36.1,\n      Water: 0.18\n    },\n    {\n      Product: 'Pancetta',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Pork',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Pork sausages',\n      CO2: 10.76,\n      Energy: 91.4,\n      Water: 0.52\n    },\n    {\n      Product: 'Quorn',\n      CO2: 0.19,\n      Energy: 1.88,\n      Water: 0.06\n    },\n    {\n      Product: 'Red kidney beans',\n      CO2: 0.78,\n      Energy: 5.67,\n      Water: 0.14\n    },\n    {\n      Product: 'Rice milk',\n      CO2: 0.26,\n      Energy: 0.26,\n      Water: 0.26\n    },\n    {\n      Product: 'Risotto rice',\n      CO2: 1.03,\n      Energy: 5.43,\n      Water: 0.35\n    },\n    {\n      Product: 'Sliced beef',\n      CO2: 27.76,\n      Energy: 164.22,\n      Water: 0.47\n    },\n    {\n      Product: 'Sliced chicken',\n      CO2: 6.8,\n      Energy: 64,\n      Water: 0.34\n    },\n    {\n      Product: 'Smoked cheese',\n      CO2: 6.2,\n      Energy: 26.71,\n      Water: 0.11\n    },\n    {\n      Product: 'Spaghetti Carbonara pre-made meal',\n      CO2: 3.44,\n      Energy: 28.52,\n      Water: 0.11\n    },\n    {\n      Product: 'Tofu',\n      CO2: 3.23,\n      Energy: 14.37,\n      Water: 0\n    },\n    {\n      Product: 'UHT milk',\n      CO2: 1.31,\n      Energy: 5.82,\n      Water: 0.02\n    },\n    {\n      Product: 'Vegetarian salami',\n      CO2: 0.19,\n      Energy: 1.88,\n      Water: 0.06\n    },\n    {\n      Product: 'Wholegrain dry pasta',\n      CO2: 1.49,\n      Energy: 17.23,\n      Water: 0.01\n    },\n    {\n      Product: 'Lamb',\n      CO2: 25.44,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Butter',\n      CO2: 11.52,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Turkey',\n      CO2: 5.9,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Rabbit',\n      CO2: 3.61,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Cod',\n      CO2: 3.49,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Eggs',\n      CO2: 3.4,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Insect',\n      CO2: 2.3,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Whole Milk',\n      CO2: 1.4,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Wheat',\n      CO2: 0.51,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Peas',\n      CO2: 0.6,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Barley',\n      CO2: 0.52,\n      Energy: '',\n      Water: ''\n    },\n    {\n      Product: 'Chickpeas',\n      CO2: 0.67,\n      Energy: '',\n      Water: ''\n    }\n  ]\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["626f268d.1a6d98"]]}]
