bottom_nodes.json
[{"id":"9a824c66.0ec488","type":"http in","z":"db682bb3.2d0f28","name":"","url":"/history","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["64b3db97.bce634"]]},{"id":"64b3db97.bce634","type":"function","z":"db682bb3.2d0f28","name":"WriteHistory","func":"msg.payload = \n [1.4, 1.6, 1.3, 1.2, 1.4, 1.6, 1.2, 0.9, 1.0, 1.0, 0.9, 0.8, 0.9, 0.7, 0.8]\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":600,"wires":[["1009d19.b09852e"]]},{"id":"1009d19.b09852e","type":"http response","z":"db682bb3.2d0f28","name":"Response","statusCode":"200","headers":{},"x":1080,"y":600,"wires":[]},{"id":"f1a574ef.86e218","type":"http in","z":"db682bb3.2d0f28","name":"","url":"/rankings","method":"get","upload":false,"swaggerDoc":"","x":150,"y":640,"wires":[["59cd0d1b.0af20c"]]},{"id":"59cd0d1b.0af20c","type":"function","z":"db682bb3.2d0f28","name":"WriteRankings","func":"msg.payload.scores_sorted = \n [0.7, 0.8, 0.8,0.9, 1.0, 1.1,1.1, 1.2, 1.4, 1.4, 1.5, 1.8, 1.9, 92.1, 100.3]\n \nmsg.payload.usersID_sorted = \n [1, 14, 15, 13, 8, 11, 9, 7, 3, 2, 6, 12,4, 10, 5]\nmsg.payload.ranking = \n [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":640,"wires":[["15056981.59f146"]]},{"id":"e013c88d.6d6908","type":"http response","z":"db682bb3.2d0f28","name":"Response","statusCode":"200","headers":{},"x":1080,"y":640,"wires":[]},{"id":"15056981.59f146","type":"function","z":"db682bb3.2d0f28","name":"computeRanking","func":"ranking_others = msg.payload.ranking\nusersID_others = msg.payload.usersID_sorted\nscore_others = msg.payload.scores_sorted\n\nvar stats = global.get(\"stats\")\nscore_user = stats.costHistTotal\nvar ranking_user = 0\n\n// add it into ranking, loop through ranking for this\nsize_ranking = ranking_others.length\n\nfor (j=0; j < size_ranking;j++){\n\n    if(score_user < score_others[j]){\n        usersID_others.splice(j, 0, 101);\n        ranking_others.push(16)\n        score_others.splice(j, 0, score_user);\n        ranking_user = j+1\n        break\n    }\n}\n\n\n\nmsg.payload.ranking = ranking_others\nmsg.payload.usersID_sorted = usersID_others\nmsg.payload.scores_sorted = score_others\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["e013c88d.6d6908"]]}]